<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="productsEAR">
        <wb-resource deploy-path="/" source-path="/" tag="defaultRootSource"/>
        <dependent-module archiveName="products.war" deploy-path="/" handle="module:/resource/products/products">
            <dependent-object>Module_1534257728014</dependent-object>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>